
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.auth/

# Allure reporter outputs
/allure-results/
/allure-report/
/.allure/
/allure-report.html/